.footer {
    width: 100%;
    height: 200px;
    background-color: #121619;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    text-align: center;
  }
  
  .socialMedia .svg {
    color: white;
    margin: 20px;
    font-size: 55px;
    cursor: pointer;
  }
  
  .footer p {
    color: white;
  }